.content{
    width: 70%;
    height: 200px;
    margin-left: 13%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6);
    background-color: #6c48c5;
    border-radius: 20px;
    display: flex;
    color: white;

}
.left_side{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: space-around;
    
}
.welcome_text{
    font-weight: 700;
    font-size: 40px ;
}
.student_name{
    color:  white;
    margin: 0px 2px;
}
.date{
    font-weight: 700;
}