
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.overview{
    display: flex;
    margin-left: 13%;
    font-family: 'lato';
    font-size: 20px;
    
}

.overview_boxes{
    width: 200px;
    height: 200px;
    border:solid 0.2px black;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6);
        border-radius: 10px;

}
.rank ,.student_attendance,.student_achievements,.student_performance{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    font-weight: 700;
    flex-direction: column;
}